$orange: rgb(255, 165, 0);
$white: #ffffff;
$grey: #98a7b8;
$red: #f53131;
$tableBaground: #fdfdfd;
$tableBorder: #e4e9f0;
$black: #333333;
$blackOpasiti: #333333a3;
$grey-2: #fdfdfd;
$grey-3: #e4e9f0;
$grey-4: #d0d7e1;
$grey-5: #f6f7f9;
// Old colors

$black-text: #5d6472;
$black-2: #000000;
$grey-3: #eaebea;
$grey-header-chedule: #f7fbfe;
$grey-header-chedule-border: #e0e7f2;

$blue: #006fcf;
$secondary-text-color: #5d6472;
$blue-2: #016fd0;
$blue-3: #1e95fe;
$time-line-row: #f7f8f9;
$text-in-menu: #5d6472;
$imgBlue: invert(47%) sepia(88%) saturate(2748%) hue-rotate(189deg) brightness(101%) contrast(102%); //filter: $imgBlue
$form-bg-color: #fafdff;

$grey-border: #bcc4c8;
$blue-checkbox: #3288f6;
$version: #788a9c;

$list-header: #99cdff;
$list-item-selected: #e0f0ff;
$list-item-hover: #f1f5f9;
