@import 'color';

@mixin standart {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
@mixin standart14x16x400 {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
@mixin standart12x16x400 {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
@mixin standart20x12x400 {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
@mixin standart20x16x400 {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
