.mainWraper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.footerWrapper {
  height: fit-content;
}

.loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noDataWrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: lightgray;
  font-size: 42px;
}
