@import '../../../styles/font_style.scss';
@import '../../../styles/color.scss';
.container {
  z-index: 1050;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  transition: opacity 0.5s linear;
  // animation-name: slidein;
  background-color: $blackOpasiti;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal_dialog {
  transform: translate(0, -140%);
  transition: transform 0.3s ease-out;
  width: 600px;
  margin: 30px auto;
  //animation-name: slideinDialog;
}
@keyframes slideinDialog {
  from {
    transform: translate(0, -140%);
  }

  to {
    transform: translate(0, 0);
  }
}

.modal_content {
  position: relative;
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  color: #444a52;
  background-color: #fdfdfd;
  background-clip: padding-box;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 0 2px 0 rgba(34, 37, 41, 0.24);
}
.messageBody{
  word-break:break-all
  //overflow-x: scroll;

}